<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Fill profile</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container">
        <h1>Fill Profile Information Page</h1>
        <hr>
        <div class="row">
            <!-- edit form column -->
            <div class="col-md-9 personal-info">
                {{if .Error}}
                    <div class="alert alert-info alert-dismissable">
                        <a class="panel-close close" data-dismiss="alert">×</a>
                        {{ .Error }}                   
                    </div>
                {{end}}
                <h3>Personal info</h3>

                <form class="form-horizontal" role="form" method="post" enctype="application/x-www-form-urlencoded" action="/profile/edit">
                    <input type="hidden" name="_method" value="PUT">
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Full Name:</label>
                        <div class="col-lg-8">
                            <input name="full_name" class="form-control" type="text" value="{{.User.Name}}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Email:</label>
                        <div class="col-lg-8">
                            <input name="email" class="form-control" readonly type="email" value="{{.User.Email}}" required="required">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Telephone:</label>
                        <div class="col-md-8">
                            <input name="telephone" class="form-control" type="telephone" value="{{.User.Telephone}}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Address:</label>
                        <div class="col-md-8">
                            <input name="address" id="autocomplete_search" class="form-control" type="text" value="{{.User.Address}}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label"></label>
                        <div class="col-md-8">
                            <input type="submit" class="btn btn-primary" value="Save Changes">
                            <span></span>
                            <a class="btn btn-default" href="/profile">Cancel</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <hr>
</body>

</html>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBtwLRYK3fcwUfd0N2vgPskfXTANPYqb8M&libraries=places"></script>
<script>
  google.maps.event.addDomListener(window, 'load', initialize);
    function initialize() {
      var input = document.getElementById('autocomplete_search');
      var autocomplete = new google.maps.places.Autocomplete(input);
      autocomplete.addListener('place_changed', function () {
    });
  }
</script>